# Python
*.pyc
__pycache__/
*.pyo
*.pyd
env
*.env
.env.*
*.egg
*.egg-info/
dist/
build/
*.log

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# macOS
.DS_Store

# Linux
*.swp

# Node (if using frontend)
node_modules/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Migrations
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py

# Others
*.bak
*.tm
Capital-Finance/